@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  background-color: #000;
}

.line {
  border-bottom: 2px solid #333;
}

.masked {
  position: relative;
  background: url("https://i.pinimg.com/564x/d9/54/87/d95487ffab31b9722b12eaf0e5709494.jpg")
    no-repeat center/cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.masked::before {
  content: "macbook pro.";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("https://i.pinimg.com/564x/d9/54/87/d95487ffab31b9722b12eaf0e5709494.jpg")
    no-repeat center/cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  filter: blur(40px);
  opacity: 0.8;
}
.masked::after {
  content: "macbook pro.";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("https://i.pinimg.com/564x/d9/54/87/d95487ffab31b9722b12eaf0e5709494.jpg")
    no-repeat center/cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  filter: blur(20px);
  opacity: 0.8;
}
